<footer class="footer">
    <p class="pull-left" style="margin-top: -14px"><img src="img/geocities.jpeg"></p>
    <p class="pull-right" style="margin-top: -14px"><img src="img/hacker.gif">&nbsp; Built with <a
            href="http://code.divshot.com/geo-bootstrap/">Geo for Bootstrap</a></p>

</footer>

<center>
    <img src="/img/counter2.gif" />
</center>