<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="">4 o'clock in the morning</a>
            <div class="nav-collapse" id="main-menu">
                <ul class="nav" id="main-menu-left">
                    <li><a href="https://twitter.com/dammitoclock">Twitter</a></li>
                    <li style="padding-top: 6px">&nbsp;
                        <a class="twitter-share-button"
                            href="https://twitter.com/intent/tweet?text=I%20saved%20someone%27s%20life%20tonight%20-%20and%20you%20can%20too%21%20https%3A%2F%2F4oclock.boleary.dev%20via%20%40DammitOclock"
                            data-size="large">
                            Tweet</a>
                        <script>window.twttr = (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0],
                                    t = window.twttr || {};
                                if (d.getElementById(id)) return t;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "https://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);

                                t._e = [];
                                t.ready = function (f) {
                                    t._e.push(f);
                                };

                                return t;
                            }(document, "script", "twitter-wjs"));</script>
                    </li>
                </ul>
                <ul class="nav pull-right" id="main-menu-right">
                    <li><a href="https://gitlab.com/brendan-demo/4oclock">GitLab</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>