<div class="row">
    <div class="col-md-6">
        <h1>
            4 o'clock in the morning
        </h1>
        <h3>
            Offical "geocities" site
        </h3>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col">
                <img src="/img/community.gif" />
            </div>
            <div class="col">
                <img src="/img/webtrips.gif" />
            </div>
            <div class="col">
                <img src="/img/yahooweek.gif" />
            </div>
            <div class="col">
                <img src="/img/ie_logo.gif" /><br /><br />
                <img src="/img/notepad.gif" />
            </div>
        </div>
    </div>
</div>

{{> lyricsscroll }}

<hr />
<div class="alert alert-block">
    <img class="pull-left" style="margin-top: -8px" src="img/drudgesiren.gif" width="80">
    <h4 class="alert-heading">
        Someone please save my life tonight
    </h4>
    <br />
    <p>
        To save my life tonight, use the form below.
    </p>
    <br />
</div>
<h1>

</h1>
<form class="form-horizontal well">
    <fieldset>
        <legend>Sugar Bear Form</legend>
        <div class="control-group">
            <label class="control-label" for="input01">
                Your Twitter handle
            </label>
            <div class="controls">
                <input id="txtTwitter" type="text" class="input-xlarge" id="input01">
                <p class="help-block">
                    Optionally add your Twitter handle (e.g. @rocketman)
                </p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="optionsCheckbox">
                Save my life tonight?
            </label>
            <div class="controls">
                <label class="checkbox">
                    <input id="chkYes" type="checkbox" id="optionsCheckbox" value="option1">
                    Yes
                </label>
            </div>
        </div>
        <div id="msgSuccess" class="alert alert-success">
            <a class="close">×</a>
            <strong>Success</strong> You saved my life tonight!
            <a href="https://twitter.com/DammitOclock">Check it out</a>
        </div>
        <div id="errYesCheck" class="control-group">
            <div class="alert alert-error">
                <strong>Error:</strong> You didn't check that you wanted to save my life...
            </div>
        </div>
        <div id="errAlreadySaved" class="control-group">
            <div class="alert alert-info">
                <strong>Error:</strong> Someone already saved my life tonight. Try again tomorrow!
            </div>
        </div>
        <div id="errUnk" class="control-group">
            <div class="alert alert-error">
                <strong>Error:</strong> An unknown error occured. <br /><br />
                Fly away<br />
                High away<br />
                Bye bye<br />
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-primary" id="btnGo">Go</button>
            <button type="reset" class="btn" id="btnCancel">Cancel</button>
        </div>
    </fieldset>
</form>

{{#contentFor "pageScripts"}}
<script>
    function hideAll() {
        $('#msgSuccess').hide();
        $('#errYesCheck').hide();
        $('#errAlreadySaved').hide();
        $('#errUnk').hide();
    }

    hideAll();
    $('#btnGo').click(function () {
        if (document.getElementById('chkYes').checked) {
            hideAll()
            $.ajax(`/api/savelife?handle=${$('#txtTwitter').val()}`)
                .done(function () {
                    $('#msgSuccess').show();
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 418) {
                        $('#errAlreadySaved').show();
                    } else {
                        $('#errUnk').show();
                    }
                })
        } else {
            $('#errYesCheck').show();
        }
    });


    $('#btnCancel').click(function () {
        hideAll();
    })
</script>
{{/contentFor}}