<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>4'oclock in the morning 🦋 🆓 2️⃣ 🪰</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-grid.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

    {{{block "head"}}}

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://goldfish.boleary.dev/script.js" data-site="ZYDGQPKB" defer></script>
    <!-- / Fathom -->
</head>

<body style="padding-top: 100px;">
    {{> navbar }}
    <section class="section">
        <div class="container-md">
            {{{body}}}
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            {{> footer}}
            <br /><br />
        </div>
    </section>

    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    {{{block "pageScripts"}}}
</body>

</html>